.header {
    position: fixed;
    top: 0;
    z-index: 2;

    mix-blend-mode: difference;
    color: white;
    // background: linear-gradient(180deg, transparent, white 40%, transparent 100% );
    // background: linear-gradient(180deg, rgb(189, 189, 189) 0%, white 40%, transparent 100% );
}